.RegistrationFooter {
  margin-top: 50px;
  height: auto;
  width: 100%;
  &__Contents {
    margin-bottom: 15px;
    &__Content {
      width: 60%;
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
      .Link {
        font-size: small;
        color: black;
        text-decoration: none;
        margin-left: 15px;
      }
    }
  }
  &__logo {
    color: #eee;
    width: 100%;
    margin: 30px auto;
    text-align: center;
    &--image {
      max-width: 200px;
    }
    &--text {
      font-size: 14px;
      padding-bottom: 40px;
      color:gray;
    }
  }
}