.Footer
  .Footer__Contents
    .Footer__Contents__Content
      = link_to root_path, class: "Link" do
        プライバシーポリシー
      = link_to root_path, class: "Link" do
        FURIMA利用規約
      = link_to root_path, class: "Link" do
        特定商取引に関する表記
  .Footer__logo
    = image_tag "logo/logo-white.png", alt: "フッターロゴ", class: "Footer__logo--image"
    %p.Footer__logo--text © FURIMA