.RegistrationFooter
  .RegistrationFooter__Contents
    .RegistrationFooter__Contents__Content
      = link_to root_path, class: "Link" do
        プライバシーポリシー
      = link_to root_path, class: "Link" do
        FURIMA利用規約
      = link_to root_path, class: "Link" do
        特定商取引に関する表記
  .RegistrationFooter__logo
    = image_tag "logo/logo-white.png", alt: "フッターロゴ", class: "RegistrationFooter__logo--image"
    %p.RegistrationFooter__logo--text © FURIMA