.Creditcard {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  width: 100%;
  padding: 24px 0px;
  &__main {
    &__box {
      &__header {

      }
      &__form {
        &__menu {
          display: flex;
          margin-bottom: 5px;
          &__number {
          }
        }
      }
    }
  }
}

.Select {
  &__field {
    display: flex;
    margin-bottom: 15px;
    &__month {
      display: flex;
      &__default {
      }
    }
    &__year {
      display: flex;
    }
  }
}