// 商品編集ページのヘッダー
@import "new-header";

// 商品編集ページのメイン
.item-image {
  &__image {
    height: 115px;
  }
}

.preview-edit {
  display: flex;
}

.js__editRemove {
  display: flex;
  .js-edit {
    cursor: pointer;
    color: rgb(0, 149, 238);
    margin-bottom: 8px;
    margin-right: 8px;
    border-color: rgb(245, 245, 245);
    border-width: 1px;
    border-style: dashed;
    border-color: rgb(245, 245, 245);
    background-color: rgb(245, 245, 245);
    flex-grow: 1;
  }
}

// 商品編集ページのフッター 
@import "new-footer";