// トップページのヘッダー
.Header {
  height: 100px;
  padding: 0 60px;

  // トップページのヘッダーのインフォメーション
  &__info {
    max-width: 1040px;
    width: 100%;
    padding: 15px 0 0;
    margin: 0 auto;
    &__title {
      display: flex;
      &__inner {
        .top-logo {
          height: 40px;
          margin-right: 30px;
        }
      }
      // トップページのヘッダーの検索ボックス
      &__search {
        width: calc(100% - 26px);
        margin-top: auto;
      }

      .Form__contents {
        display: flex;
        &__text {
          width: calc(100% - 26px);
        }
        &__btn {
          width: 36px;
          border: 0;
          cursor: pointer;
          background-color: #3ccace;
          padding: 8px;
          color: white;
          font-size: 20px;
        }
      }
    }
    // トップページのヘッダーのナビゲーションバー
    &__nav {
      max-width: 1040px;
      height: 20px;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      margin: 10px;
      .ListLeft {
        display: flex;
        justify-content: space-between;
        &__item {
          &--first {
            padding-right: 30px;
          }
        }
      }
      .ListRight {
        display: flex;
        &__item {
          &--login {
            padding-right: 30px;
            .Link {
              color: black;
              text-decoration: none;
            }
          }
          &--new {
            .Link {
              color: black;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}