// トップページのメイン
.Main {
  //height: calc(100vh - 300px);
  background: #f8f8f8;

  &__visual {
    height: 560px;
    background-image: image-url("pict/bg-mainVisual-pict_pc.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    &__content {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      &__subtitle {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }
      &__text {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }
      &__btn {
        display: flex;
        margin: 24px 0 0 0;
      }
    }
  }
  .AppStore {
    width: 150px;
    height: 70px;
  }
  .GooglePlay {
    width: 180px;
  }

  // FURIMAが選ばれる3つの理由
  &__introduction {
    padding: 60px 20px;
    &__subtitle {
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    &__lists {
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      &__list {
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__pict {
          position: relative;
          margin-bottom: 20px;
          &__number {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3ccace;
            color: #fff;
          }
          &__picture {
            width: 100%;
            vertical-align: bottom;
          }
        }
        &__text {
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          span {
            color: #3ccace;
          }
        }
        &__description {
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
    }
  }

  // 会員数日本一位
  &__middle {
    background-image: image-url("pict/bg-topMiddleDl-pict.jpg");
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    &__inner {
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: auto;
      &__subtitle {
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      &__text {
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      &__btn {
        display: flex;
      }
    }
  }

  // FURIMAの特徴
  &__feature {
    padding: 60px 100px;
    background-color: #fff;
    &__head {
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
    }
    &__items {
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      &__item {
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        &__img {
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
          &__icon {
            width: 100%;
            vertical-align: bottom;
          }
        }
        &__subtitle {
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        &__detail {
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }

  // ピックアップカテゴリー
  &__container {
    padding: 80px 0 0;
    background-color: #f8f8f8;
    height: 100%;
    padding-bottom: 80px;
    &__head {
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    &__productBox {
      margin: 0;
      padding: 0em;
      &__productHead {
        text-align: center;
        &--link {
          font-size: 24px;
          text-decoration: none;
          color: #3ccace;
        }
        &--title {
          font-weight: bold;
        }
      }
      &__productLists {
        width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around;
        &__list {
          width: 220px;
          display: inline-block;
          margin-right: 15px;
          &__goods {
            background-color: #fff;
            display: inline-block;
            text-decoration: none;
          }
          &--img {
            width: 220px;
            height: 150px;
            position: relative;
            overflow: hidden;
            margin: 0;
            z-index: auto;
          }
          .picture {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            z-index: auto;
            height: 150px;
            object-fit: cover;
          }
          &--body {
            background-color: white;
            color: #333;
            line-height: 1.5;
            height: 70px;
            .name {
              overflow: hidden;
              line-height: 1.5;
              font-size: 16px;
              text-align: left;
              padding: 20px 0 0 20px;
            }
            .details {
              font-size: 16px;
              padding: 20px 0 0 20px;
              ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
                li {
                  padding: 0;
                }
              }
              p {
                font-size: 10px;
              }
            }
            .icon {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
  .fa {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
  .fa:before {
    content: "\f005";
  }