// 商品購入確認ページのメイン
.PurchaseMain {
  //max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  background: #f8f8f8;
  text-align: center;
  &__content {
    background: white;
    display: inline-block;
    text-align: left;
    padding: 0 200px;
    margin-bottom: 100px;
    // 商品購入確認ページのタイトル
    &__title {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      line-height: 34px;
      padding-top: 50px;
      margin-bottom: 50px;
    }

    // 購入する商品の内容
    &__product {
      height: 100px;
      margin-bottom: 50px;
      &__goods {
        display: flex;
        justify-content: center;
        &__picture {
          &--image {
            height: 100px;
          }
        }
        &__text {
          margin-left: 30px;
          &__name {
            font-size: 14px;
            line-height: 1.4em;
            margin-bottom: 8px;
            text-align: right;
          }
          &__cash {
            display: flex;
            text-align: right;
            &--postage {
              font-size: 12px;
            }
            &--total {
              font-size: 15px;
              font-weight: 600;
              margin-left: 8px;
            }
          }
        }
      }
    }

    // 支払い金額
    &__money {
      display: flex;
      justify-content: center;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 50px;
      &__payment {
        margin-right: 170px;
      }
    }

    // 支払い方法
    &__way {
      display: inline-block;
      text-align: left;
      margin-bottom: 50px;
      &__text {
        margin-bottom: 5px;
      }
      &__registration {
        &--card {
          text-decoration: none;
        }
      }

    }

    // 配送先
    &__address {
      &__delivery {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        // 配送先
        &__shipping {
          margin-right: 200px;
        }
        // 変更ボタン
        &__change {
          &--btn {
            text-decoration: none;
          }
        }
      }
      // ユーザーの情報
      &__userinfo {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        margin-bottom: 50px;
      }
    }

    // 購入するボタン
    &__purchase {
      padding-bottom: 50px;
      &__announcement {
        font-size: 14px;
        &__warning {
          margin-bottom: 20px;
          color: red;
        }
        &__done {
          &--btns {
            background-color: #ccc;
            color: #888;
            width: 100%;
            font-size: 17px;
            min-height: 48px;
            padding: 0 24px;
            border-radius: 4px;
            border: 1px solid transparent;
            display: inline-block;
            font-weight: 600;
            line-height: 1;
            cursor: pointer;
          }
        }
      }
    }
  }
}