// 商品購入確認ページのメイン
.Main {
  background: #f8f8f8;
  margin: 0 100px;
  &__content {
    height: 560px;
    width: 100%;
    text-align: center;

    // 商品購入確認ページのタイトル
    &__title {
      font-size: 24px;
      font-weight: bold;
      line-height: 34px;
      padding-top: 50px;
      margin-bottom: 50px;
    }

    // 購入する商品の内容
    &__product {
      height: 100px;
      margin-bottom: 50px;
      &__goods {
        display: flex;
        justify-content: center;
        align-items: center;
        &__picture {
          &--image {
            height: 100px;
          }
        }
        &__text {
          margin-left: 30px;
          &__name {
            font-size: 14px;
            line-height: 1.4em;
            margin-bottom: 8px;
            text-align: right;
          }
          &__cash {
            display: flex;
            text-align: right;
            &--postage {
              font-size: 12px;
            }
            &--total {
              font-size: 15px;
              font-weight: 600;
              margin-left: 8px;
            }
          }
        }
      }
    }

    // 支払い金額
    &__money {
      display: flex;
      justify-content: center;
      &__payment {

      }
      &__sum {
        
      }
    }
    &__way {

    }
    &__address {

    }
    &__purchase {

    }
  }
}