.container {
  background: #f5f5f5;
  width: 100%;
  margin: 0 auto 0;
  padding-top: 40px;
  &__product-details {
    width: 700px;
    height: 100%;
    background-color: white;
    margin: 0 auto 0;
    padding: 24px 40px 40px;
    box-sizing: border-box;
    &__product-name {
      text-align: center;
      font-size: 24px;
      line-height: 1.4;
      font-weight: bold;
    }
    &__main {
      margin: 16px 0 0;
      width: 100%;
      &__images {
        width: 100%;
        height: 505px;
        background-color: #fff;
        &__display {
          min-width: 300px;
          width: 100%;
          //max-width: 300px;
          min-height: 375px;
          height: 100%;
          &__top {
            position: relative;
            width: 100%;
            height: 350px;
            overflow: hidden;
            &__slide-image {
              width: 100%;
              height: 100%;
              .picture {
                width: 100%;
                height: 100%;
              }
            }
          }
          &__down {
            margin-top: 5px;
            display: flex;
            flex-wrap: wrap;
            &__thumbnail-image {
              height: 150px;
              width: 200px;
              //opacity: .3;
              .picture {
                width: 100%;
                height: 100%;
              }
              //&.thumbnail-current {
              //  opacity: 1;
              //}
            }
          }
        }
      }
      &__detail {
        //max-width: 300px;
        margin-top: 5px;
        height: 420px;
        width: 100%;
        tbody {
          tr {
            th {
              width: 39%;
              text-align: left;
              background: #ddd;
              border: 1px solid #f5f5f5;
              padding: 8px;
              font-size: 14px;
              color: black;
            }
            td {
              border: 1px solid #f5f5f5;
              padding: 8px;
              width: 61%;
              a {
                text-decoration: none;
                color: #3CCACE;
                display: block;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
            td.category {
              font-size: 14px;
              i {
                &:hover {
                  text-decoration: underline;
                }
              }
              span {
                margin-top: -5px;
                //@extend %global-font;
                font-weight: 3.12;
              }
            }
          }
        }
      }
    }

    &__price {
      margin: 24px 0 0;
      text-align: center;
      &__amount {
        margin: 0 16px 0 0;
        font-size: 50px;
      }
      &__tax {
        font-size: 10px;
      }
    }
    &__message {
      text-align: center;
      .submit-btn {
        margin-top: 16px;
      }
      p {
        margin-top: 16px;
      }
      &__money {
        display: inline-block;
        position: relative;
        line-height: 1.5;
        color: white;
        background: #05B0B4;
        margin: 20px 0 0 0;
        padding: 8px;
        border-radius: 4px;
        &::after {
          content: '';
          position: absolute;
          bottom: -10px;
          left: 50%;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10px 7.5px 0 7.5px;
          border-color: #05B0B4 transparent; 
        }
      }
    }
    &__purchase-screen-button {
      display: block;
      margin-top: 16px;
      background: red;
      color: white;
      text-decoration: none;
      text-align: center;
      font-weight: 600;
      font-size: 24px;
      line-height: 60px;
    }
    &__product-description {
      padding: 32px 0 0;
      font-size: 18px;
      line-height: 1.5;
      &__inner {
        white-space: pre-wrap;
      }
    }
    &__buttons {
      margin: 16px 0 0;
      display: flex;
      justify-content: space-between;
      &__btn {
        width: 100%;
        display: flex;
        justify-content: space-between;
        &__star {
          color: #3CCACE;
          border: 1px solid #f5f5f5;
          background: #f5f5f5;
          padding: 6px 12px;
          border-radius: 40px;
          cursor: pointer;
          .far.fa-star {
            font-size: 14px;
            color: #3CCACE;
          }
          .Like {
            font-size: 14px;
            margin: 1px 0 0 8px;
          }
        }
        &__report {
          color: #3CCACE;
          border: 1px solid #f5f5f5;
          background: #f5f5f5;
          padding: 6px 12px;
          border-radius: 40px;
          cursor: pointer;
          margin: 0 0 0 16px;
        }
      }
    }
  }
  &__comment {
    width: 700px;
    background: white;
    margin: 8px auto;
    &__container {
      padding: 24px;
      &__message-form {
        &__attention {
          padding: 8px;
          font-size: 14px;
          background: #fff6de;
        }
        &__text {
          margin: 8px 0 0;
          width: 100%;
          max-width: 100%;
          min-height: 104px;
          padding: 10px;
          border: 1px solid #ccc;
          font-size: 16px;
          line-height: 1.5;
          box-sizing: border-box;
        }
        &__comment-btn {
          width: 100%;
          margin: 8px 0 0;
          text-align: center;
          background-color: #3CCACE;
          border: 1px solid #3CCACE;
          line-height: 48px;
          border-radius: 10px;
          cursor: pointer;
          .comment {
            color: white;
            width: 100px;
            text-align: center;
            font-size: 14px;
          }
        }
      }
    }
  }
  &__product-link {
    margin: 24px auto 0;
    width: 700px;
    display: flex;
    justify-content: space-between;
    &__prev {
      .Link {
        text-decoration: none;
        color: #3CCACE;
      }
      :hover {
        text-decoration: underline;
      }
    }
    &__next {
      .Link {
        text-decoration: none;
        color: #3CCACE;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
  &__other-products {
    margin: 24px auto;
    width: 700px;
    &__same-category {
      &__title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 24px;
        &__link {
          text-decoration: none;
          color:#3CCACE;
        }
        :hover {
          text-decoration: underline;
        }
      }
      &__products {
        width: 200px;
        height: 260px;
        &__list__goods {
          width: 100%;
          height:100%;
          margin-bottom: 24px;
          text-decoration: none;
          color: black;
          font-weight: bold;
          &--img {
            height: 150px;
            width: 100%;
            object-fit: cover;
            .picture {
              overflow: hidden;
              height: 100%;
              width: 100%;
            }
          }
          &--body {
            padding-top: 5px;
            height: 100px;
            width: 100%;
            .name {
              font-weight: bold;
              height: 25%;
            }
            .details {
              height: 75%;
            }
            :hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}