// トップページのバナー
.Banner
  .Banner__inner
    %h2.Banner__inner--title だれでもかんたん、人生を変えるフリマアプリ
    %p.Banner__inner--text 今すぐ無料ダウンロード!
    .Banner__inner__icon
      = link_to image_tag("icon/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg", alt: "App-Store", class: "AppStore")
      = link_to image_tag("icon/google-play-badge.png", alt: "Google-Play", class: "GooglePlay")