// トップページのヘッダー
.Header
  // トップページのインフォメーション
  .Header__info
    = image_tag "logo/logo.png", alt: "ロゴ", class: "top-logo"

    // トップページのメイン
    .Header__info__main

    // トップページのナビゲーションバー
    .Header__info__nav