// 商品出品ページのヘッダー
.ListingHeader
  // 商品出品ページのヘッダーのインフォメーション
  .ListingHeader__info
    // 商品出品ページのメインヘッダー
    .ListingHeader__info__title
      // 商品出品ページのヘッダーのFURIMAロゴ
      .ListingHeader__info__title__inner
        = link_to image_tag("logo/logo.png", alt: "ヘッダーロゴ", class: "inner-logo"), root_path