// 商品購入確認ページのヘッダー
.Header
  // 商品購入確認ページのヘッダーのインフォメーション
  .Header__info
    // 商品購入確認ページのメインヘッダー
    .Header__info__title
      // トップページのヘッダーのFURIMAロゴ
      .Header__info__title__inner
        = image_tag "logo/logo.png", alt: "ヘッダーロゴ", class: "top-logo"