// 商品購入確認ページのメイン
.PurchaseMain
  // 商品購入確認ページの大枠
  .PurchaseMain__content
    // 商品購入確認ページの各項目
    // タイトル
    %h2.PurchaseMain__content__title
      購入内容の確認
    
    // 購入する商品の内容
    .PurchaseMain__content__product
      .PurchaseMain__content__product__goods
        .PurchaseMain__content__product__goods__picture
          = image_tag("pict/mgg-vitchakorn-98Xi5vMGKck-unsplash.jpg", alt: "パスタ", class: "PurchaseMain__content__product__goods__picture--image")
        .PurchaseMain__content__product__goods__text
          %p.PurchaseMain__content__product__goods__text__name
            テスト1
          .PurchaseMain__content__product__goods__text__cash
            %p.PurchaseMain__content__product__goods__text__cash--postage
              送料込み(税込)
            %p.PurchaseMain__content__product__goods__text__cash--total
              ¥10000

    // 支払い金額
    .PurchaseMain__content__money
      %p.PurchaseMain__content__money__payment
        支払い金額
      %p.PurchaseMain__content__money__sum
        ¥10000

    // 支払い方法
    .PurchaseMain__content__way
      %p.PurchaseMain__content__way__text
        支払い方法
      %p.PurchaseMain__content__way__registration
        = link_to "#", class: "PurchaseMain__content__way__registration--card" do
          カードを登録してください

    // 配送先
    .PurchaseMain__content__address
      .PurchaseMain__content__address__delivery
        %h3.PurchaseMain__content__address__delivery__shipping
          配送先
        .PurchaseMain__content__address__delivery__change
          = link_to "#", class: "PurchaseMain__content__address__delivery__change--btn" do
            変更する
      .PurchaseMain__content__address__userinfo
        %p.PurchaseMain__content__address__userinfo--PurchaseMain__content__address__delivery
          〒 000-0000
        %p.PurchaseMain__content__address__userinfo--residence
          福岡県福岡市中央区天神1-1-1
        %p.PurchaseMain__content__address__userinfo--name
          田中 太郎





    // 購入するボタン
    .PurchaseMain__content__purchase
      .PurchaseMain__content__purchase__announcement
        %p.PurchaseMain__content__purchase__announcement__warning
          支払い方法の入力を完了してください。
        .PurchaseMain__content__purchase__announcement__done
          = button_tag type: "submit", class: "PurchaseMain__content__purchase__announcement__done--btns" do
            購入する