// 商品購入確認ページのヘッダー
.PurchaseHeader
  // 商品購入確認ページのヘッダーのインフォメーション
  .PurchaseHeader__info
    // 商品購入確認ページのメインヘッダー
    .PurchaseHeader__info__title
      // トップページのヘッダーのFURIMAロゴ
      .PurchaseHeader__info__title__inner
        = link_to image_tag("logo/logo.png", alt: "ヘッダーロゴ", class: "inner-logo"), root_path